
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Gloock&family=Happy+Monkey&family=Niconne&family=Oleo+Script:wght@400;700&family=Pacifico&family=Playwrite+RO:wght@100..400&family=Poetsen+One&family=Style+Script&display=swap');


.style-script-regular {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
  
}
.gold {
  color:gold
}