
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Gloock&family=Happy+Monkey&family=Niconne&family=Oleo+Script:wght@400;700&family=Pacifico&family=Playwrite+RO:wght@100..400&family=Poetsen+One&family=Style+Script&display=swap');


.style-script-regular {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
  
}
.gold {
  color:gold
}

.floating-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgb(226, 217, 92); /* Color del botón */
  color: rgb(13, 13, 14); /* Color del texto */
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.floating-button:hover {
  background-color: goldenrod; /* Color al pasar el mouse */
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  position: relative;
  bottom: 0px;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;

  
}
.snowflakes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Los copos no interfieren con el clic */
  z-index: 1000;
}

.snowflake {
  position: absolute;
  top: -10%;
  color: white; /* Color de los copos */
  font-size: 24px; /* Tamaño de los copos */
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(100vh); /* Hacia abajo */
  }
}


.modal-publicidad {
  display: none; 
  position: fixed; 
  z-index: 1; 
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content-publicidad {
  background-color: black;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close-button-publicidad {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close-button-publicidad:hover,
.close-button-publicidad:focus {
  color: rgb(216, 210, 40);
  text-decoration: none;
  cursor: pointer;
}


